    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Acme</span> Web Design</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>
            <li><a [routerLink]="['/services']" routerLinkActive="active">Services</a></li>
          </ul>
        </nav>
      </div>
    </header>
